*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
body {
    font: 24px Roboto;
    background: #ececec;
}
hr {
    border: none; /* Убираем границу */
    background-color: #fcb118; /* Цвет линии */
    height: 1px;
}



.hidden {
    display: none;
}