*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
body {
    font: 14px Roboto;
    background: #ececec;
}

.hidden {
    display: none;
}

.wrapper {
    box-shadow: 0 0 1px #797979;
    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid #ccc; 
    background-color: #fff;
    padding: 20px 40px 0px 40px;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 560px) {
    body {
        font: 16px Roboto;
    }

    .wrapper {
        border: 1px solid #fff; 
        border-bottom: 1px solid #ccc; 
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        padding: 20px 0px 0px 0px;    }

}