.section {
    margin-bottom: 70px;
}

.headline {
    font-size: 32px;
    text-align: left;
    margin-bottom: -20px;
    margin-left: 40px;
    font-weight: 500;
}


.section-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 5% 5% 5%;
}

.not-column {
    display: block !important;
}

.section-info a {
    text-decoration: none;
    color: black;
}

.section-info a:hover {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 560px) {

    .tab-item {
        margin-top: 80px;
    }

    .headline {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .section-info {
        margin: 10px 0 10px 0;
    }
}